<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="'COMMON.BACK' | translate"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="goToSettings()">
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="app-background page">
  <!-- First Page -->
  <ion-grid *ngIf="profile">
    <ion-row class="header">
      <ion-col size="5">
        <img [src]="profile?.photoURL" class="profile-photo">
      </ion-col>
      <ion-col size="7" class="header-right-col">
          <div class="title">
            {{ 'PROFILE_PAGE.HELLO' | translate }}
          </div>
          <div class="name">
            {{ profile?.name }} {{ profile?.surName }}
          </div>
          <!--div class="header-right-col-bottom">
            {{ 'PROFILE_PAGE.PEOPLE_YOU_HELP' | translate }}
          </div-->
      </ion-col>
    </ion-row>
    <ion-grid class="body">
      <ion-row>
        <ion-col size="12" class="header-label">{{ 'PROFILE_PAGE.YOUR_DATA' | translate }}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">{{ 'PROFILE_PAGE.FIRST_NAME' | translate }}</ion-label>
            <ion-input [(ngModel)]="profile.name"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating">{{ 'PROFILE_PAGE.SURNAME' | translate }}</ion-label>
            <ion-input [(ngModel)]="profile.surName"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">{{ 'PROFILE_PAGE.PHONE' | translate }}</ion-label>
            <ion-input [(ngModel)]="profile.phone"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating">{{ 'PROFILE_PAGE.DATE_OF_BIRTH' | translate }}</ion-label>
            <ion-input ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">{{ 'PROFILE_PAGE.ADDRESS' | translate }}</ion-label>
            <ion-input [(ngModel)]="profile.address"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">{{ 'PROFILE_PAGE.CITY_STATE_ZIP' | translate }}</ion-label>
            <ion-input [(ngModel)]="profile.city"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="header-label">{{ 'PROFILE_PAGE.AVAILABILITY' | translate }}</ion-col>
      </ion-row>
      <ion-row class="availability-row">
          <ng-container *ngFor="let type of availabilityList" >
            <ion-chip [class.selectedChip]="type == availability" class="availabilityChip"
                      (click)="onChangeAvailability(type)">
              {{ 'COMMON.AVAILABILITY_TYPES.' + type.toUpperCase() | translate }}
            </ion-chip>
          </ng-container>
      </ion-row>
      <ion-row>
        <ion-col>
          <span class="header-label distance-label">{{ 'PROFILE_PAGE.DISTANCE' | translate }}</span>
          <span *ngIf="distance <= 10" class="distance-filter">{{ distance }}{{ 'COMMON.UNIT_DISTANCE_K' | translate }}</span>
          <span *ngIf="distance > 10" class="distance-filter">∞</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-item (ionChange)="onChangeDistance()" class="distance-range">
          <ion-range [(ngModel)]="distance" min="0" max="15" step="5" class="distance-range-selector"></ion-range>
        </ion-item>
      </ion-row>
    </ion-grid>
  </ion-grid>
  <!-- End First Page -->

  <!-- Second Page-->
  <ion-grid *ngIf="!showInfo">
    <ion-row class="titleContainer">
      <ion-col size="12">
        <div class="title">
          {{ 'PROFILE_PAGE.CONFIG_MESSAGE' | translate }}
        </div>
      </ion-col>
    </ion-row>
    <ion-row (click)="toggleCapability(Page.help.Food)" class="ion-align-items-center ion-justify-content-center">
      <ion-col size="4">
        <div class="img-button" [ngClass]="getCapabilityClass(Page.help.Food)">
          <img src="assets/images/icon/ico_supermarket.svg" />
          <img src="assets/images/icon/ico_correct.svg" class="check" />
        </div>
      </ion-col>
      <ion-col size="8" 
        class="text-button ion-text-uppercase"  
        [ngClass]="getCapabilityClass(Page.help.Food)">
        <div>{{ 'PROFILE_PAGE.ROLE_TYPE.FOOD' | translate }}</div>
      </ion-col>
    </ion-row>
    <ion-row (click)="toggleCapability(Page.help.Pharmacy)" class="ion-align-items-center ion-justify-content-center" >
      <ion-col size="4">
        <div class="img-button" [ngClass]="getCapabilityClass(Page.help.Pharmacy)">
          <img src="assets/images/icon/ico_drug.svg" />
          <img src="assets/images/icon/ico_correct.svg" class="check" />
        </div>
      </ion-col>
      <ion-col size="8" 
      class="text-button ion-text-uppercase"
      [ngClass]="getCapabilityClass(Page.help.Pharmacy)">
        {{ 'PROFILE_PAGE.ROLE_TYPE.FARMACY' | translate }}
      </ion-col>
    </ion-row>
    <ion-row class="helpContainer">
      <ion-col>
        {{ 'PROFILE_PAGE.AVAILABLE' | translate }}
      </ion-col>
    </ion-row>
    <ion-row (click)="toggleIsAvaible()" class="ion-align-items-center ion-justify-content-center">
      <ion-col size="4">
        <div class="img-button" [ngClass]="getAvaibleClass()">
          <img src="assets/images/icon/ico_support.svg" />
          <img src="assets/images/icon/ico_correct.svg" class="check" />
        </div>
      </ion-col>
      <ion-col size="8" 
      class="text-button ion-text-uppercase"
      [ngClass]="getAvaibleClass()">
        <div>{{ 'PROFILE_PAGE.YESIAM' | translate }}</div>
      </ion-col>
    </ion-row>
    <div class="buttonsContainer">
      <ion-row>
        <ion-col>
          <ion-button expand="block" (click)="saveProfile()" class="ui-button ui-button-green">
            {{ 'PROFILE_PAGE.SAVE' | translate }}
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
  <!-- End Second Page -->

</ion-content>
